@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply bg-spline-900;
}

/* .animate__animated */
.animate__fadeIn {
  /* --animate-duration: 0.5s; */
}

.animate__fadeOut {
  --animate-duration: 1s;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  border-radius: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a1a1a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
li,
ul,
strong {
  @apply text-[#ffffffcc];
  font-family: "Noto Sans TC", sans-serif;
}

h1 {
  @apply text-3xl font-semibold lg:text-4xl;
}

h2 {
  @apply text-xl font-medium lg:text-2xl;
}

h4 {
  @apply text-sm font-semibold
}

p {
  @apply text-base font-medium text-[#959595];
}

strong {
  @apply text-2xl font-semibold;
}

button {
  @apply bg-spline-button p-2 px-6 rounded-full font-semibold text-sm
}